*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}
h1 {
    color: #1A327F;
}


input{
    width: 350 px;
    padding: 10px;
}
    #boton-enviar{
        background-color:#7F2C1A;
        border: none;
        color: #fff;
        padding: 8px;
        cursor: pointer;
        border-radius: 6px;
        width: 250px;
        font-size: 18 px;
    }
#boton-enviar:hover{
    background-color:#ff0000;
}